.cube-container {
  width: 160px;
  height: 160px;
  position: relative;
  float:left;
  margin: 50px auto 40px;
/*  border: 1px solid #CCC;*/
  perspective: 1000px;
}

.cube {
  width: 100%;
  height: 100%;
  position: absolute;

          transform-style: preserve-3d;

          transition: transform 1s;
}
/*.cube:hover{
transform: rotateX(360deg) rotateY(360deg);
}*/
.cube figure {
  display: block;
  position: absolute;
  width: 96px;
  height: 96px;
  border: 2px solid black;
  line-height: 96px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube.panels-backface-invisible figure {
          backface-visibility: hidden;
}

.front  { background: rgba(0,0,255,0.8); }
.right  { background: rgba(255,0,0,0.8); }
.back  { background: rgba(0,255,0,0.8); }
.left  { background: rgba(255,128,0,0.98); }
.top  { background: rgba(255,255,0,0.8); }
.bottom  { background: rgba(238,238,238,0.8); }

.blue  { background: rgba(0,0,255,0.8); }
.red  { background: rgba(255,0,0,0.8); }
.green  { background: rgba(0,255,0,0.8); }
.orange  { background: rgba(255,128,0,0.98); }
.yellow  { background: rgba(255,255,0,0.8); }
.white  { background: rgba(238,238,238,0.8); }
/*.front  { background: hsla(   240, 100%, 50%, 0.7 ); }
.back   { background: hsla(  120, 100%, 50%, 0.7 ); }
.right  { background: hsla( 0, 100%, 50%, 0.7 ); }
.left   { background: hsla( 60, 100%, 50%, 0.7 ); }
.top    { background: hsla( 80, 100%, 50%, 0.7 ); }
.bottom { background: hsla( 160, 100%, 50%, 0.7 ); }*/

.cube .front  {
          transform: translateZ( 50px );
}
.cube .back   {
          transform: rotateX( -180deg ) translateZ( 50px );
}
.cube .right {
          transform: rotateY(   90deg ) translateZ( 50px );
}
.cube .left {
          transform: rotateY(  -90deg ) translateZ( 50px );
}
.cube .top {
          transform: rotateX(   90deg ) translateZ( 50px );
}
.cube .bottom {
          transform: rotateX(  -90deg ) translateZ( 50px );
}
/*观察点为上面 */
.edge {
	transform: translateZ( -100px ) rotateX(-45deg);
}		

.angle {
	 
	 transform: translateZ( -100px ) rotateX(-45deg) rotateY(-45deg);;
}

